@font-face {
   font-family: 'SWANSE__';
   font-display: swap;
   src: url('file:///Users/izzababar/Library/Containers/com.mobirise.Mobirise/Data/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2023-02-04_234507/fonts/SWANSE__/font.TTF');
}
