@font-face {
   font-family: 'Inter-ExtraLight-BETA';
   font-display: swap;
   src: url('file:///Users/izzababar/Library/Containers/com.mobirise.Mobirise/Data/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2022-10-09_150026/fonts/Inter-ExtraLight-BETA/font.woff');
}
